.associated-tcu-modal {
    .grid-container {
      .container-two {
        display: flex;
        justify-content: space-between;
        // align-items: end;
        // flex-direction:;
        flex-wrap: wrap;
      }
    }
  
    .user-group-name-container {
      .user-group-name-label {
        //   margin-bottom: 4px; // Space between the label and input
        //   display: block; // Make label take full width
        font-weight: 700;
        // margin-bottom: 30px !important;
      }
  
      .user-group-name-field {
        width: 100%; // Make the input field take full width
      }
    }
  
    .MuiDialog-paper {
      background-color: white; // Customize the dialog background
      padding: 16px; // Inner padding
      border-radius: 19px !important; // Rounded corners
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); // Custom box shadow
      max-width: 866px !important;
      min-width: 866px !important;
      width: 866px;
      height: auto;
      max-height: calc(100vh - 240px);
      min-height: 350px;
    }
    
  
    .MuiDialogTitle-root {
      font-size: 24px; // Title font size
      font-weight: bolder; // Bold title
      margin-bottom: 16px; // Margin below the title
      text-align: center; // Center the text
    }
  
    .MuiDialogContent-root {
      margin-top: 0; // Reset margin for content
      // Additional custom styles can be added here
    }
  
    .MuiDialogActions-root {
      margin-top: 16px; // Margin for action buttons
      display: flex; // Flex layout for buttons
      justify-content: flex-end; // Align buttons to the right
  
      // button {
      //   margin-left: 8px; // Space between buttons
      //   text-transform: none;
      //   // background-color: gray;
      //   width: 200px;
      //   padding: 15px !important;
      //   border-radius: 8px;
      //   border: none !important;
      // }
      .cancel-btn {
        border: none !important;
        // background-color: rgba(0, 0, 0, 0.05);
  
        color: #000; /* White text */
        &:hover {
          // background-color: #8f8f8f; /* Darker red on hover */
        }
      }
  
     
      }
      .MuiTableCell-body {
          padding-left: 12px;
  
          padding-top: 12px;
      
          padding-bottom: 12px;
      
          min-width: 100px !important;
      
          min-height: 35px !important; // Set minimum height for table cells
      
          border-left: none;
      
        }
        .MuiTableContainer-root{
          overflow: hidden;
        }
    }
  
  
  
   
  
  
    
   
  
  