.footer {
  background-color: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.footer-text {
  display: flex;
  align-items: center;
  margin-left: 300px;
  justify-content: center;
}
.footer-text-click{
  display: flex;
  margin-left: 300px;
  cursor: pointer;
}
.contect-us {
  margin-right: 30px;
}
.home {
  margin-right: 30px;
}