.main-container {
  max-width: 100vw;
  overflow: hidden;
  height: 100vh;
}

.content-block {
  background-color: rgb(255, 255, 255);
  //position: relative;
  overflow: auto !important;
  padding: 20px 0 20px 10px;
  height: calc(100vh - 155px);
  width: calc(100vw - 340px);
  margin-left: 300px;
  padding: 20px;
  //margin-top: 70px;
  color: #000;
}
